<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobico.rcart" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="globalvariable"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GasStationsList"
            android:label="@string/title_activity_gas_stations_list"
            android:parentActivityName=".SplashScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobico.rcart.SplashScreen" />
        </activity>
        <activity
            android:name=".StationDetail"
            android:label="@string/title_activity_station_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".SplashScreen"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobico.rcart.SplashScreen" />
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UpdateGas"
            android:label="@string/title_activity_update_gas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Filter"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProductsList"
            android:label="@string/title_activity_products_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NearbyList"
            android:label="@string/title_activity_nearby_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WishList"
            android:label="@string/title_activity_wish_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProductDetail"
            android:label="@string/title_activity_product_detail"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
